---
---

{% include header.html %}


<section class="services-intro-container">
  <div class="services-overlay">
    {% include nav.html %}
    <div class="services-intro-display">
      <h1>Welcome to Services</h1>
      <hr>
      <p>
        This is what we do.
      </p>
    </div>
  </div>
</section>

<section class="services-message-container">
  <div class="services-message">
    <h2>Let's start today</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</section>

<section class="services-contact-container">
  <div class="services-contact-overlay">
    <div class="services-contact-display">
      <h1>CONTACT US TODAY</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
      </p>
      <button class="services-btn"> Start Here</button>
    </div>
  </div>
</section>

<section class="services-middle-container">
  <div class="services-middle-display">
    <h2>Services</h2>
    <ul class="services-middle-gal">
      <li><img src="https://images.unsplash.com/photo-1459411552884-841db9b3cc2a?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925" alt="" /></li>
      <li><img src="https://images.unsplash.com/photo-1459411552884-841db9b3cc2a?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925" alt="" /></li>
      <li><img src="https://images.unsplash.com/photo-1459411552884-841db9b3cc2a?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925" alt="" /></li>
    </ul>

    <ul class="services-middle-list">
      <li>IRRIGATION INSTALLATION/SERVICE</li>
      <li>LANDSCAPE LIGHTING</li>
      <li>RETAINING WALLS</li>
      <li>DRIVEWAYS, WALKWAYS, PATIOS (STONE, PAVERS)</li>
      <li>DRAINAGE SOLUTIONS</li>
      <li>TREES AND SHRUB INSTALLATION</li>
      <li>PROFESSIONAL LANDSCAPE DESIGN</li>
    </ul>

  </div>
</section>


{% include footer.html %}
