  <footer>
      <div class="footer-display">
        <ul class="footer">
          <h3> Find us on:</h3>
          <li><a href="#">Github</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>

        <ul class="footer">
          <h3>Contact us:</h3>
          <li><a href="#">Phone: 555 5555</a></li>
          <li><a href="#">Email@gmail.com</a></li>
          <li><a href="#">Somewhere near you</a></li>
        </ul>
      </div>
  </footer>

    <script type="text/javascript" src="/assets/js/functions.js"></script>
  </body>
</html>
