// Services SECTION
.slide-open {
  transform: translateX(-250px);
  transition: transform 0.4s ease-in-out;
}

.services-intro-container .slide-open {
  transform: translateX(-250px);
  transition: transform 0.4s ease-in-out;
}

.services-message-container .slide-open {
  transform: translateX(-250px);
  transition: transform 0.4s ease-in-out;
}

// Intro
.services-intro-container {
  width: 100%;
  height: 100vh;
  background: url('/assets/imgs/services.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  transition: transform 0.4s ease-in-out;
}

.services-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.services-intro-display {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $primary-color;

  h1 {
    font-size: 30px;
    margin: 0;
  }

  hr {
    width: 60%;
    max-width: 900px;
  }

  p {
    font-size: 20px;
    margin-top: 0;
  }
} // Intro END



// Message

.services-message-container {
  width: 100%;
  height: auto;
  padding: 80px 0;
  background: $text-background;
  position: relative;
  transition: transform 0.4s ease-in-out;
}

.services-message {
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;

  h2 {
    color: #1d1d1d;
  }

  p {
    color: $text-color;
    line-height: 30px;
  }
} // Message END

// Services Contact

.services-contact-container {
  width: 100%;
  height: 100vh;
  background: url('/assets/imgs/palm.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.services-contact-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.services-contact-display {
  width: 80%;
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
  color: $text-background;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 3em;
    text-align: center;
    margin: 0;
  }

  p {
    line-height: 25px;
  }
}

.services-btn {
  width: 170px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  background: rgba(0, 0, 0, 0);
  border: 3px solid #f9f9f9;
  color: $text-background;
  transition: all 0.4s ease-in-out;
}

.services-btn:hover {
  background: #1d1d1d;
  border: 3px solid #1d1d1d;
  transition: all 0.4s ease-in-out;
}


// Services Contact END



// Services Middle

.services-middle-container {
  width: 100%;
  height: auto;
  background: $text-background;
}

.services-middle-display {
  width:100%;
  height: 100%;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-middle-gal {
  width: auto;
  height: auto;
  padding: 0;
  text-align: center;


  img {
    width: 235px;
    height: 160px;
  }

  li {
    width: 235px;
    padding: 10px 5px;
    display: inline-block;
  }

}

.services-middle-list {
  color: $text-color;
  list-style: none;
  padding: 40px 0;
  padding-left: 50px;
  margin: 0;


  h2 {
    text-align: center;
    color: #1d1d1d;
  }

  li {
    line-height: 30px;
  }
}



@media(min-width: 769px) {

  .services-intro-display {

    h1 {
      font-size: 50px;
    }
  }
}
